<form>
  <div class="input-group">
    <div class="row">
      <div>
        <label for="initial">Initial Investment</label>
        <input type="number" id="initial" />
      </div>
      <div>
        <label for="annual">Annual Investment</label>
        <input type="number" id="annual" />
      </div>
    </div>
    <div class="row">
      <div>
        <label for="return">Expected Return</label>
        <input type="number" id="return" />
      </div>
      <div>
        <label for="duration">Duration (years)</label>
        <input type="number" id="duration" />
      </div>
    </div>
  </div>
  <button type="submit">Calculate</button>
</form>

<p>Please enter some values to calculate your investment growth.</p>
